.color-section {
    width: 70%;
    padding: 120px 0;
    @include center-around();
    @include bigscreen() {
        width: 1920px;
    }
    @include phone() {
        width: 90%;
        padding: 90px 0;
    }
    .color-circle {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        position: relative;
        transition: 0.4s;
        @include center();
        @include phone() {
            width: 120px;
            height: 120px;
        }
        @include verysmall() {
            width: 90px;
            height: 90px;
            font-size: 25px;
        }
        &::before {
            position: absolute;
            font-family: $q-fonts;
            bottom: 0;
            z-index: 1;
            color: #AF5252;
            transform: translateY(50px);
            opacity: 0;
            transition: 0.3s;
            @include verysmall() {
                font-size: 13px;
            }
        }
        &:hover {
            -webkit-box-shadow: 0px 10px 25px 11px rgba(255,255,255,.25);
            -moz-box-shadow: 0px 10px 25px 11px rgba(255,255,255,.25);
            box-shadow: 0px 10px 25px 11px rgba(255,255,255,.25);
            transform: translateY(-5px);
        }
        &:hover::before {
            opacity: 1;
        }
    }
    &--color1 {
        background: white;
        &::before {
            content: 'white';
        }
    }
    &--color2 {
        background: #1A4389;
        &::before {
            content: 'dark-blue';
        }
    }
    &--color3 {
        background: #FE7A22;
        &::before {
            content: 'oragne';
        }
    }
}